@import "../abstracts/variables";

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

html,
body {
  height: 100%;
  font-family: "Regular" !important;
  scroll-behavior: smooth;
  /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
}

/* body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

textarea:focus,
input:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none;
}

.material-icons-two-tone,
.material-icons.material-icons--two-tone {
  font-family: "Material Icons Two Tone";
}

.material-icons-round,
.material-icons.material-icons--round {
  font-family: "Material Icons Round";
}

.material-icons-sharp,
.material-icons.material-icons--sharp {
  font-family: "Material Icons Sharp";
}

body {
  background: RGB(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.2676000702247191) 0%,
    rgba(148, 187, 233, 0.2198472612359551) 75%
  );
  background: RGB(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.2676000702247191) 0%,
    rgba(148, 187, 233, 0.2198472612359551) 83%
  );
}

// h1 {
//   text-align: center;
//   font-family: SemiBold;
//   font-size: 28px;
//   padding: 20px;
//   font-weight: 600;
//   line-height: 33px;
//   letter-spacing: 1px;
//   color: $primary-heading-color;
// }

// h2 {
//   text-align: center;
//   font-family: SemiBold;
//   padding: 20px;
//   font-weight: 600;
//   line-height: 33px;
//   letter-spacing: 1px;
//   color: $primary-heading-color;
//   font-size: 24px;
// }

// h3 {
//   color: $primary-heading-color;
//   text-align: center;
//   font-family: "SemiBold";
//   font-size: 22px;
//   font-weight: 100;
//   padding: 15px;
//   line-height: 28px;
// }

// h4 {
//   color: $primary-heading-color;
//   text-align: center;
//   font-family: "Regular";
//   font-size: 20px;
//   font-weight: 300;
//   padding: 10px;
//   line-height: 25px;
// }

.header-cross {
  position: absolute;
  right: 0%;
  top: 0%;
  font-size: 23px;
  font-weight: 500;
  border: unset;
  color: #0d3371;
  width: 40px;
  height: 40px;
  background: white;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 8px 30px RGB(159 164 184 / 55%);
}

.modalheader {
  padding: 0;
  font-size: 20px;
  font-family: "Regular";
  letter-spacing: 0.5px;
  font-weight: 700;
  text-align: center;
}

.modalheader:after {
  background-image: linear-gradient(270deg, #ffa4c8 0%, #5e55b1 100%);
  border-radius: 8px;
  width: 73px;
  height: 5px;
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 7px;
}

.modal-input {
  font-family: "Regular";
  font-size: 16px;
  text-align: center;
  margin: 20px 40px;
}

.modal-input input {
  float: left;
  display: inline-block;
  width: 64%;
  text-align: center;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: "SemiBold";
  color: black;
  border: 1px solid #a3a3a3;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #dee1ec;
  box-shadow: 0 8px 30px RGB(0 0 0 / 12%);
}

.action-btn-outer {
  padding-top: 15px;
  width: auto;
}

.action-btn-outer button {
  border: none;
}

.action-btn-wrap {
  background-color: $primary-pink;
  width: auto;
  text-align: center;
  padding: 10px 15px;
  float: right;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px rgba(222, 119, 161, 0.5));
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.action-btn-icon {
  background: #001870;
  width: 35px;
  border-radius: 50%;
  // line-height: 42px;
  height: 35px;
  box-shadow: 0 6px 18px -10px #000000;
  // float: left;
  text-align: center;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.3));
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-btn-text {
  width: auto;
  font-size: 14px;
  padding-left: 8px;
  font-weight: 600;
  color: white;
  letter-spacing: 0.5px;
  font-family: "SemiBold";
}

.M-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.d-b {
  display: block;
}

.d-n {
  display: none;
}
.m-z {
  margin: 0;
}
.d-ib {
  display: inline-block;
}

.t-ac {
  text-align: center;
}

.t-ar {
  text-align: right;
}

.ps-r {
  position: relative;
}

.ps-sticky {
  position: sticky;
  z-index: 2;
}
.t-l-0 {
  top: 0;
  left: 0;
}
.ps-a {
  position: absolute;
}

.p-t10 {
  padding-top: 10px;
}

.p-b20 {
  padding-bottom: 20px;
}

.m-r10 {
  margin-right: 10px;
}

.m-t10 {
  margin-top: 10px;
}

.m-b10 {
  margin-bottom: 10px;
}

.c-p {
  cursor: pointer;
}

.d-f-ac {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.f-r {
  float: right;
}

.f-l {
  float: left;
}

.width10 {
  display: inline-block;
  width: 10%;
}

.width20 {
  display: inline-block;
  width: 20%;
}

.width30 {
  display: inline-block;
  width: 30%;
}

.width40 {
  display: inline-block;
  width: 40%;
}

.width50 {
  display: inline-block !important;
  width: 50%;
}

.width60 {
  display: inline-block !important;
  width: 60%;
}

.width70 {
  display: inline-block;
  width: 70%;
}

.width80 {
  display: inline-block;
  width: 80%;
}

.width100 {
  width: 100%;
  display: block;
}

.error {
  color: $error;
  text-align: left;
  margin: -10px 0 10px 0;
  font-size: 11px;
  font-family: "Poppins";
  letter-spacing: 0.5px;
}
.MuiSnackbar-anchorOriginTopCenter {
  z-index: 9999 !important;
  top: 17px !important;
}

.primary-heading {
  color: $primary-heading-color;
  text-align: center;
  font-family: "SemiBold";
  font-size: 22px;
  font-weight: 100;
  padding: 15px;
  line-height: 28px;
}

.secondary-heading {
  color: $primary-heading-color;
  text-align: center;
  font-family: "SemiBold";
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
}

.primary-heading::after {
  background-image: linear-gradient(270deg, #ffa4c8 0%, $primary-color 100%);
  border-radius: 8px;
  width: 170px;
  height: 3px;
  border-radius: 50%;
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 1px;
}
.other-cat-card {
  width: calc(100% / 5 - 24px);
  margin: 0 30px 20px 0;
  padding: 20px;
  background-color: #ffffff82;
  box-shadow: 0 8px 30px RGB(0 0 0 / 12%);
  border-radius: 15px 0 15px 15px;
  z-index: 1;
  transition: all 300ms ease-in;
  transform: scale(1);
  cursor: pointer;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.other-cat-card:hover {
  box-shadow: 0px 0px 8px #999;
  transition: all 300ms ease-in;
  z-index: 2;
}

.other-cat-card:nth-child(5n + 5) {
  margin-right: 0;
}

.other-cat-card .service-name {
  text-align: center;
  line-height: 23px;
  font-weight: 800;
  letter-spacing: 0.5px;
  font-family: Regular;
  padding: 10px 0;
  font-size: 20px;
}

.other-cat-card .service-name {
  font-size: 15px;
  line-height: unset;
}

.service-img {
  text-align: center;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-img > img {
  width: 80%;
  filter: drop-shadow(5px 6px 4px rgba(0, 0, 0, 0.3));
}

.service-name {
  text-align: center;
  line-height: 23px;
  letter-spacing: 1px;
  font-family: "Regular";
  font-weight: 800;
  padding: 10px 0;
  font-size: 17px;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}

.shaker {
  animation: shake 0.3s;
  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 20px !important;
  }
  .header-cross {
    position: absolute;
    right: 4%;
    top: 3%;
    font-size: 23px;
    background: unset;
    font-weight: 500;
    border: unset;
    color: #0d3371;
    width: 40px;
    height: 40px;
    background: white;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 8px 30px RGB(159 164 184 / 55%);
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .service-img img {
    width: 100% !important;
  }
  .other-cat-card {
    width: 20% !important;
    margin: 2.5% !important;
  }
}

@media only screen and (min-width: 300px) and (max-width: 700px) {
  .other-cat-card {
    width: calc(100% / 3 - 7px);
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 10px;
  }
  .other-cat-card:nth-child(5n + 5) {
    margin-right: 10px;
  }
  .other-cat-card:nth-child(3n + 3) {
    margin-right: 0;
  }
  .other-cat-card .service-name {
    font-size: 12px;
  }
  .service-img {
    height: 80px;
  }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
  .service-img {
    height: 80px;
  }
  .other-cat-card {
    width: calc(100% / 3 - 7px);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
  .other-cat-card:nth-child(5n + 5) {
    margin-right: 10px;
  }
  .other-cat-card:nth-child(3n + 3) {
    margin-right: 0;
  }
  .other-cat-card .service-name {
    font-size: 12px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 569px) {
  .service-img {
    height: 80px;
  }
  .other-cat-card {
    width: calc(100% / 3 - 7px);
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }
  .other-cat-card:nth-child(5n + 5) {
    margin-right: 10px;
  }
  .other-cat-card:nth-child(3n + 3) {
    margin-right: 0;
  }
  .other-cat-card .service-name {
    font-size: 12px;
  }
}
