@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "SemiBold";
  src: url("/assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Regular";
  src: url("/assets/fonts/Poppins-Regular.ttf");
}
